body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
}

a {
	text-decoration: none;	
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 610px;

	background-color: #fff;

	box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
}

.logo {
	position: absolute;
	margin-left: -69px;
	left: 50%;
	z-index: 1;
}

.main-nav {
	font-weight: bold;
	line-height: 26px;
}

.main-menu-list {
	display: flex;

	margin: 0 5.5%;
	padding: 0;
	list-style: none;
}

.main-menu-list .menu-item {
	width: 20%;
	padding: 15px 0;
}

.menu-item:nth-child(2) {
	margin-right: 20%;
}

.menu-item:nth-last-child(-n + 2) {
	text-align: right;
}

.menu-item a {
	color: #000;
}

.main-content {
	display: flex;
	flex-direction: column;
}



.intro {
	position: relative;

	/*height: 510px;*/
	order: -1;

	padding-bottom: 155px;

	/*background-color: #ddd;*/
	background-image:
		url("../img/intro-bg-mask.png"), 
		url("../img/intro-bg.jpg");
		
	background-position: 
		50% 100%, 
		50% -55px;
	background-size: 
		100% 57px, 
		auto auto;
	background-repeat:
		no-repeat,
		no-repeat;
}

.intro img {
	position: relative;
	margin-left: -229px;
	
	
	left: 50%;
	top: 75px;
}

.main-content h1 {
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;

	width: 445px;

	font-size: 21px;
	line-height: 26px;

	text-align: center;
	text-transform: uppercase;

}


/********************************************************************************************************************************/

.reasons > p {
	margin-top: 13px;
	margin-bottom: 51px;
	text-align: center;
	text-transform: uppercase;
	line-height: 26px;
}

.reasons-list,
.reasons-list ul {
	counter-reset: li;
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style-type: none;

	text-transform: uppercase;
}

.reasons-list .suggestion {	

	order: -1;
}

.reasons-list-item:first-child {
	order: -2;
}

/*--------------------------------------------------------*/
.reasons-list .reasons-list-item {
	box-sizing: border-box;
	padding: 47px 5.5% 60px;
	width: 33.333333%;

	text-align: center;

	background-color: #eee;
}

.reasons-list-item p {
	margin: 0;
}

/*--------------------------------------------------------*/
.reasons-list-item .text-wrap {
	box-sizing: border-box;
}

.reasons-list .wide-item-left,
.reasons-list .wide-item-right {
	display: flex;
	padding: 0;
	
	width: 100%;
	color: #fff;

	background-color: #81b3d2;
}



.wide-item-left .text-wrap,
.wide-item-right .text-wrap {
	padding: 47px 5.5% 60px;
	width: 33.333333%;
}

.wide-item-left .additional-content,
.wide-item-right .additional-content {
	width: 66.66668%;
	
	background-position: 50% 50%;
	background-size: cover;
	
}

.wide-item-left .additional-content {
	left: 100%;
	top: 0;

	background-image: url("../img/reason-1.jpg");
}

.wide-item-right .additional-content {
	order: -1;
	right: 100%;
	top: 0;
	
	background-image: url("../img/reason-2.jpg");
}

.reasons-list-item h3 {
	position: relative;
	margin: 0 auto 66px;

	width: 160px;
	
	font-size: 21px;
	line-height: 21px;
}

.reasons-list-item h3::after {
	counter-increment: li;
	content: "— №" counter(li) " —";
	position: absolute;

	left: 0;
	bottom: -45px;
	width: 100%;
	text-align: center;

	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.suggestion li {
	box-sizing: border-box;
	padding: 160px 6% 81px;
	width: 33.333333%;

	text-align: center;
}

.suggestion h3 {
	margin-top: 0;
	padding-left: 19%;
	padding-right: 19%;
	margin-bottom: 24px;

	font-size: 21px;
	line-height: 21px;
}

.suggestion p {
	margin: 0;
	padding: 0;
}

.suggestion-item {
	background-color: #fff;
}

.suggestion-icon-1 {
	background-image: url(../img/icon-1.svg);
}

.suggestion-icon-2 {
	background-image: url(../img/icon-2.svg);
}

.suggestion-icon-3 {
	background-image: url(../img/icon-3.svg);
}


.suggestion-icon-1,
.suggestion-icon-2,
.suggestion-icon-3 {
	background-size: auto 72px;
	background-position: 50% 60px;
	background-repeat: no-repeat;
}

.hotels {
	position: relative;
	width: 570px;
	margin: 0 auto;
	padding-top: 50px;
	
	text-align: center;
	text-transform: uppercase;
}

.hotels b {
	display: block;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 23px;
}

.hotels p {
	margin-top: 0;
	margin-bottom: 47px;

	font-size: 14px;
	line-height: 24px;

}

.btn-search {
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;

	width: 100%;
	
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;

	background-color: #766357;
}

.search-form {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;

	padding: 55px 55px;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;

	text-align: left;
	
	background-color: #fff;
}

.search-form label {
	display: flex;
	align-items: baseline;
}

.search-form label span {
	display: inline-block;
	width: 114px;
	text-align: left;
}

.search-form input[type="text"] {
	flex-grow: 1;
	margin-bottom: 30px;
	padding: 6px 14px;

	font: inherit;
	text-transform: uppercase;	

	border: 0;

	background-color: #f2f2f2;
}

.search-form .persons-wrap {
	display: flex;
	margin-bottom: 55px;
}

.adult-block,
.children-block {
	display: flex;
	align-items: baseline;
}

.children-block {
	margin-left: auto;
}

.children-block label {
	margin-right: 30px;
}

.minusplus {
	display: flex;
	align-items: baseline;
}

.search-form .minusplus .btn {
	width: 38px;
	padding: 6px 14px;

	font-size: 14px;
	border: 0;
	color: #a9a9a9;

	background-color: #f2f2f2;
}

.search-form .minusplus .btn:hover,
.search-form .minusplus .btn:focus {
	color: #000;
}

.minusplus input[type="text"] {
	width: 10px;
	margin-bottom: 0;
}

.search-form .btn {
	padding-top: 15px;
	padding-bottom: 15px;

	font-size: 21px;
	line-height: 26px;

	color: #fff;

	border: 0;

	font-weight: bold;
	text-transform: uppercase;
}

.map {
	font-size: 0;
	line-height: 0;
}

.main-footer {
	position: absolute;
	display: flex;
	align-items: center;

	padding: 36px 0;	

	bottom: 0;
	width: 100%;

	background-color: #fff;

	opacity: 0.9;
}

.social-links {
	display: flex;
	justify-content: center;

	margin: 0;
	padding: 0;

	list-style-type: none;
}

.social-button {
	margin: 6px 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
}

.column {
	width: 33.333333%;
	margin: 0 5.5%;

	text-align: center;
}

.main-footer-hashtag {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;

	color: #000;
}

.footer-copyright b{
	
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
}

.copyright-logo {
	width: 115px;
	height: 41px;
	vertical-align: middle;
}


.map {
	position: relative;
}

.map iframe {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.map img {
	object-fit: cover;
}

.filters {
	padding: 27px 5.5% 33px;

	background: url("../img/filters-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	color: #fff;
}

.filter {
	display: flex;
}

.filter fieldset {
	margin: 0;
	margin-right: 7.2%;
	padding: 0;
	border: 0;
}

.filter legend {
	margin-bottom: 25px;
	padding: 0;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.filter > :last-child {
	margin-right: 0;
	margin-left: auto;
}

.filter-options-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.filter-option {
	position: relative;
	margin-bottom: 25px;
	padding-left: 40px;
}

.filter-option label {
	cursor: pointer;
}

input[type="checkbox"] + .checkbox-indicator {
	
	position: absolute;
	top: -1px;
	left: 0;
	
	height: 23px;
	width: 23px;
	
	background-image: url(../img/checkbox-off.svg);
	background-position: 0 50%;
	background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .checkbox-indicator{
	width: 27px;

	background-image: url(../img/checkbox-on.svg);
	background-position: 0 50%;
	background-repeat: no-repeat;
} 

input[type="checkbox"]:focus + .checkbox-indicator,
input[type="checkbox"]:hover:not([disabled]) + .checkbox-indicator {
	height: 25px;
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;

}

input[type="checkbox"]:disabled + .checkbox-indicator  {
	opacity: 0.5;
}

input[type="checkbox"]:disabled ~ span  {
	opacity: 0.5;
	cursor: default;
}

.filter-options-list :last-child {
	margin-bottom: 0;
}

.filter-range {
	width: 28%;
}

.range-inputs {
	position: relative;
	display: flex;
	justify-content: flex-end;

	margin-bottom: 20px;

	border: 2px solid #fff;
	border-radius: 2px;
}

.range-inputs::after {
	position: absolute;
	content: "";

	top: 50%;
	left: 50%;

	width: 2px;
	height: 80%;
	background-color: #fff;
	transform: translate(-50%, -50%);
}

.range-inputs label {
	display: flex;
	justify-content: flex-end;
	line-height: 32px;
	text-align: right;
	align-items: baseline;
}

.range-inputs input[type=text] {
	width: 50%;
	margin-left: 2%;
	
	font: inherit;
	color: inherit;

	border: 0;
	background: transparent;
}

.range-controls {
	position: relative;
	margin-bottom: 35px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	height: 2px;
	width: 80%;

	background-color: #fff;
}

.range-toggle {
	position: absolute;
	width: 4px;
	height: 4px;
	
	top: -9px;

	border: 8px solid #fff;
	border-radius: 50%;

	background-color: #b4b4b4;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:focus,
.range-toggle:hover {
	border-width: 9px;
	top: -10px;
}

.range-toggle-max {
	left: 80%;
}
.filter-range legend {
	margin-bottom: 10px;
}

.filter-range .btn-submit {
	display: block;
	margin: 0 auto;
	padding: 5px 33px;

	font: inherit;
	color: inherit;
	text-transform: uppercase;

	border: 2px solid #fff;
	border-radius: 2px;
	background: transparent;
}

.filter-range .btn-submit:focus,
.filter-range .btn-submit:hover {
	color: #000;
	background-color: #fff;
	cursor: pointer;
}

.results-header {
	display: flex;
	align-items:center;

	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.results .results-number {
	margin: 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.sorting {
	display: flex;

	font-size: 12px;
	line-height: 18px;
}

.sorting span {
	margin-right: 40px;
}

.sorting-type {
	display: flex;

	margin: 0;
	padding: 0;

	list-style-type: none;
}

.sorting-type-item {
	margin-right: 34px;
}

.sorting-type-item a {
	border-bottom: 1px dashed #81b3d2;
	color: rgba(0, 0, 0, 0.3);
}


.sorting-type-item a:hover:not(.current) {
	border-bottom: 1px dashed #81b3d2;
	color: #81b3d2;
}

.sorting-type-item a:active:not(.current) {
	border: 0;
	color: #000;
}

.sorting-type-item .current {
	color: #81b3d2;
	border: 0;

	cursor: default;
}

.sorting-controls {
	margin-left: auto;
	font-size: 0;
	height: 18px;
}

.sorting-controls a {
	margin-left: 10px;
	line-height: 18px;
	font-size: 11px;
	opacity: 0.3;	
}

.sorting-controls a:hover,
.sorting-controls a:focus {
	opacity: 1;
}

.sorting-controls .current {
	opacity: 1;
}

.sorting-controls .current path {
	fill: #81b3d2;
}

.results-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.result-list-item {
	display: flex;
	padding: 30px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.results .first-column {
	width: 165px;
}

.result-list-item .info-block {
	flex-grow: 1;
}

.info-block .title-wrap {
	display: flex;
	margin-top: -6px;
	align-items: center;
}

.title-wrap {
	margin-bottom: 8px;
}

.title-wrap h3 {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
}

.hotel-stars {
	margin-left: auto;
	height: 18px;
	font-size: 0;
}

.hotel-stars span {
	display: inline-block;
	margin-left: 6px;
	width: 18px;
	height: 18px;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
	
}

.info-block .summary {
	display: flex;
	margin: 0;
	margin-bottom: 17px;
	padding: 0;
}

.summary span {
	width: 116px;
}

.summary b {
	font-weight: normal;
}

.actions-wrap {
	display: flex;
}

.info-block .btn {
	margin-right: 6px;
	padding: 5px 17px;
	color: #fff;
	font-weight: bold;
}

.btn-blue {
	background-color: #81b3d2;
}

.btn-blue:hover,
.brn-blue:focus {
	background-color: #669ec0;
}

.btn-blue:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.btn-brown {
	background-color: #766357;
}

.btn-brown:hover,
.btn-brown:focus {
	background-color: #604e43;
}

.btn-brown:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.info-block .rating-text {
	margin: 0;
	margin-left: auto;
	padding: 5px 17px;
	color: #666666;

	background-color: #f2f2f2;
}

.inner-page .main-footer {
	position: static;
}

.menu-item a,
.hotel-name a {
	color: #000;
}

.menu-item a:hover,
.menu-item a:focus,
.hotel-name a:hover,
.hotel-name a:focus {
	color: #81b3d2;
}

.menu-item a:active,
.hotel-name a:active {
	color: rgba(0, 0, 0, 0.3);
}

.menu-item .current {
	color: #766357;
	cursor: default;
}

.menu-item .current:hover {
	color: #766357;
}

.social-button:active path {
	fill: rgba(255, 255, 255, 0.3);
}

.copyright-logo:hover path,
.copyright-logo:focus path{
	fill: #81b3d2;
}

.copyright-logo:active path{
	fill: #bdbbbc;
}

.inner-container {
	padding-left: 5.5%;
	padding-right: 5.5%;
}





